<!-- Top navigation -->
<div class="topnav">

    <!-- Centered link -->
    <!-- <div class="topnav-centered">
      <a [routerLink]="['/events']">Events</a>
    </div> -->
  
    <!-- Left-aligned links (default) -->
    <a [routerLink]="['/login']">Login</a>
    <a [routerLink]="['/register']">Register</a>
    <a (click)="logout()">Logout</a>
  
    <!-- Right-aligned links -->
    <div class="topnav-right">
      <a [routerLink]="['/special']">Special Events</a>
      <a [routerLink]="['/events']">Events</a>
    </div>
  
  </div>